.user_container {
  margin: 60px auto;
  padding: 2rem;
  background-color: #1c2434;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}
.title {
  color: #3bd671;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.red {
  color: #d64749;
}
.green {
  color: #3bd671;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #3bd671;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: white;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 10px 16px;
  margin: 12px 0 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  outline: none;
}
